/* 
Syntax Notes: 
@view(view-name) is replaced with .sc-view.view-name.theme-name

theme-name is specified as an argument when building.

[8] means a rectangle starting at x=8, the whole height, to the right edge.
[8, 1] means rectangle starting at x=8, width 1px, whole height
[8, 2, 1, 1] means a 1x1 rectangle at 8, 2.
*/

@view(sc-progress-view) {
  background: sprite("progress_view_track.psd" repeat-x [8, 1]);
  background: sprite("progress_view_track.psd" repeat-x [3, 7]);
}

@view(sc-progress-view) .inner {
  /* If it was pre-sliced */
  background: sprite("progress_view_track.psd" [0, 8]);
  background: sprite("progress_view_track.psd" [8, 8]);
  background: sprite("progress_view_track.psd" [15, 4]);
  background: sprite("progress_view_track.psd" [19, 20]);
}