@view(sc-button-view.sc-select-button) {
  background: sprite("normal_select.png" clear [0 8]);
}

@view(sc-button-view.sc-select-button) .sc-button-inner {
  background: sprite("normal_select.png" anchor-right [-25]);
}

@view(sc-button-view.sc-select-button) .sc-button-label {
  background: sprite("normal_select.png" repeat-x [8 1]);
  text-align: left;
  right: 25px;
  vertical-align:top;
  color: #333;
}

@view(sc-button-view.sc-select-button).active {
  background: sprite("active_select.png" clear [0 8]);
}

@view(sc-button-view.sc-select-button).active .sc-button-inner {
  background: sprite("active_select.png" anchor-right [-25]);
}

@view(sc-button-view.sc-select-button).active .sc-button-label {
  background: sprite("active_select.png" repeat-x [8 1]);
  text-shadow: 0px 1px 1px rgba(255, 255, 255, .6);
}


.sc-select-button .sc-menu-item span.value { margin-left: 10px; }