@view(sc-checkbox-view).sel span.button {
  background: sprite("checkbox_checked.png");
  width: 16px;
  height:16px;
  position:absolute;
}

@view(sc-checkbox-view).sel input {
  opacity: 0;
}


@view(sc-checkbox-view).sel span.button {
  background: sprite("checkbox_checked.png");
  width: 16px;
  height:16px;
  position:absolute;
}

@view(sc-checkbox-view) input {
  opacity: 0;
}

/* Active */
@view(sc-checkbox-view).sel.active span.button {
  background: sprite("checkbox_checked_active.png");
  width: 16px;
  height:16px;
  position:absolute;
}


@view(sc-checkbox-view).disabled {
  opacity: .5;
}