@view(sc-button-view) {
  background: sprite("normal_button.png" clear [0 8]);
  border: 0px none;
  color: #555;
  text-shadow: 0px 1px 1px white;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, .7);
  -webkit-border-radius:5px;
}

@view(sc-button-view) .sc-button-inner {
  position:absolute;
  left: 8px;
  right: 0px;
  height: 24px;
  background: sprite("normal_button.png" anchor-right [-8]);
}

@view(sc-button-view) .sc-button-label {
  position:absolute;
  left: 0px;
  right: 8px;
  height: 24px;
  padding-top:1px;
  background: sprite("normal_button.png" repeat-x [8, 1]);
}

/* Selected */
@view(sc-button-view).sel {
  background: sprite("selected_button.png" clear [0 8]);
  color: #d5dde9;
  font-weight:200;
  text-shadow: 0px -1px 1px rgba(0,0,0,.7);
}

@view(sc-button-view).sel .sc-button-inner {
  background: sprite("selected_button.png" anchor-right [-8]);
}

@view(sc-button-view).sel .sc-button-label {
  background: sprite("selected_button.png" repeat-x [8, 1]);
}

/* Disabled */
@view(sc-button-view).disabled {
  opacity: .5;
}

/* Active */
@view(sc-button-view).active {
  background: sprite("active_button.png" clear [0 8]);
  color: #333;
  text-shadow: 0px 1px 1px white;
}

@view(sc-button-view).active .sc-button-inner {
  background: sprite("active_button.png" anchor-right [-8]);
}

@view(sc-button-view).active .sc-button-label {
  background: sprite("active_button.png" repeat-x [8, 1]);
}